#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  padding: 12px 20px 12px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: solid 1px var(--border);
  cursor: pointer;
  background-color: #7bb3d8;
  color: #5c5c5c;
  font-weight: bold;
}

.button:hover {
  background-color: #7bb3d8c7;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contentWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25vw;
}

/*Home css*/

.HomeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeSection button {
  width: 40%;
}
.rules{
  margin-bottom: 40px;
}
.rules a{
  color: black;
  text-decoration: none;
  color: rgba(31, 31, 31, 0.829);

}
.rules a:hover{
  cursor: pointer;
  text-decoration: underline;  
}

/* PlayScreen css */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  width: 100%;
  margin-top: 5rem;
}

.mainArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 2rem;
}

.questionDiv {
  width: 80%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--text);
  text-align: center;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.optionList {
  list-style: none;
  width: 65%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.questionOption {
  background-color: var(--secondBackground);
  border-radius: 5px;
  padding: 5px 0;
  border: 1px solid var(--border);
  text-align: center;
  cursor: pointer;
}

.questionOption:hover {
  background-color: #7bb3d8;
}

/* Contador componente */

.aciertosFallos {
  border: 1px solid var(--border);
  padding: 20px 0px 20px 15px;
  border-radius: 8px;
  background-color: var(--white); 
  text-align: start;
  min-width: 150px;
  height: fit-content;
  align-self: flex-end;
}

.aciertosFallos p{
  font-weight: bold;
}

/*Container parte izquierda */
.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 8rem;  
}

.listaCategorias{
  list-style: none;
  text-align: start;
  background-color: var(--white);
  padding: 20px 25px 20px 10px;
  border-radius: 8px;
  border: 1px solid var(--border);
}

.listaCategorias li {
  margin-top: 5px;
  font-weight: 600;
}

.listaCategorias .done {
  text-decoration: line-through;
  text-decoration-color: rgb(143, 12, 12);
  color: rgb(143, 12, 12);
  font-weight: 600;
}

/*Timer componente */
.timerContainer {  
  background-color: var(--white);
  border: 1px solid var(--border);
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  height: fit-content;
  margin-top: 2.5%;
  font-weight: bold;  
}

/* Header */

.headerNav{
  display: flex;  
  align-items: center;
  padding: 0 20px;
  margin-left: 3.2rem;

  a{
    cursor: pointer;
  }
  a:hover{
    text-decoration: underline;
  }
}

.titleContainer {
  flex: 1;
  text-align: center;
}

.titleContainer h1 {
  font-size: 50px;
  background: linear-gradient(90deg, #888, #7bb3d8);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;  
}

.profileContainer {
  position: relative;
}

.dropDownMenu{
  position: absolute;
  left: -3.5rem;
  top: 3.9rem;
  width: 11rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  border-radius: 5px;
  text-align: start;
}

.dropDownMenu ul {
  list-style: none;
}
.dropDownMenu ul li {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.2rem;
  font-size: 1.05rem;
}
.dropDownMenu ul li:hover{
  background-color: #e5e7eb;
}
.profilePicture {  
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 50px;
  padding: 5px;
  object-fit: cover;
  box-sizing: content-box;
  cursor: pointer;
}

/* Tabla Clasificaciones */

.classification {
  display: flex;
  flex-direction: column;
  min-width: 800px;  
  justify-content: space-between;
  margin: auto;
}

.classification h2 {
  margin-bottom: 30px;  
  font-size: 32px;
}
.classification table {
  border: 1px solid var(--border);
  min-height: fit-content;    
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
}
.classification table th {
  background-color: var(--black);
  height: 50px;  
  color: #ccc;
  border: solid 1px var(--black);
  text-align: center;
}
.classification tbody tr td {
  border-right: solid 1px var(--border);
  padding: 0;
  box-sizing: content-box;
  height: 100px;
  vertical-align: middle;
  text-align: center;
}
.classification tbody tr:nth-child(odd){
  background-color: #e9cfad;
}

.imageTable{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid var(--border);
  object-fit: cover;
  box-sizing: content-box;
  padding: 5px;
}

/*Login Register*/

.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 50px;  
  margin-top: 5rem;  

  .item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;        
  }
  h2{
    color: #74a1c0;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    input{
      padding: 12px;
      border: none;
      outline: none;
      background-color: #fff;
      color: var(--black);
      border-radius: 8px;
    }
    label{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      text-decoration: underline;

      img {
        width: 50px;
        height: 50px;        
        border-radius: 50px;
        padding: 5px;
        object-fit: cover;
        box-sizing: content-box;
      }
    }
  }  
}

/* Not Found */
.display{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.display__img {
  height: 400px;
  width: 400px;
  margin-top: 5rem;
}
.display__content--text{
  margin-top: 15px;
  margin-bottom: 15px;
}
